{% extends 'base2.html.twig' %}

{% block title %}Reponse{% endblock %}

{% block content %}
    <h1>Reponse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponse.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ reponse.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reponse_back_index') }}">back to list</a>

    <a href="{{ path('app_reponse_back_edit', {'id': reponse.id}) }}">edit</a>

    {{ include('reponse_back/_delete_form.html.twig') }}
{% endblock %}
