{% extends 'base2.html.twig' %}

{% block title %}FormPost{% endblock %}

{% block body %}
    <h1>FormPost</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ form_post.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ form_post.nom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ form_post.date ? form_post.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ form_post.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_form_back_index') }}">back to list</a>

    <a href="{{ path('app_form_back_edit', {'id': form_post.id}) }}">edit</a>

    {{ include('form_back/_delete_form.html.twig') }}
{% endblock %}
